$black: rgb(50,50,50);
$blue: rgb(137,201,250);
$white: rgba(255,255,255,1);
$smoke: rgba(242,242,242,1);
$grey: rgba(194,194,194,1);
$lt-grey: rgba(226,226,226,1);
$facebook-color: #3b5998;
$twitter-color: #4099ff;
$github-color: #4183c4;
$linkedin-color: #0976b4;
$instagram-color: #125688;
