div.l-content.l-content--box.l-content--wide
  h1 Jamie Allen
  
  include ./_icons.jade

  div.l-row
    h2 Professional Summary

    p I thrive in a creative environment. Working closely with designers, developers and clients I strive to make every project as accessible and intuitive as possible for the end user. My main focus is front end development, user experience and design. I also have an interest in APIs, processes and web servers. 

  div.l-row
    h2 Qualifications

    ul
      li Javascript (ES6, Coffeescript, jQuery)
      li React and Redux, Node and Yarn, Webpack
      li HTML5, 
        a(target='_blank' href="https://github.com/eimaj/grid"). 
          CSS3 (Sass, BEM)
      li 
        a(target='_blank' href="https://github.com/eimaj"). 
          Git
      li Ruby and Rails
      li Sketch, Invision, Photoshop, Illustrator
      li Ubuntu servers, Nginx, Digital Ocean, Firebase, Heroku

  div.l-row
    h2 Experience

    p
      strong factor[e] design initiative
      br
      em May 2009 to Present

    p Work closely with clients, designers and developers to build the best possible solution to meet the needs of the application. Every project is custom and designed to achieve the goals of the client.

    ul
      li
        a(target='_blank' href="https://getshifted.ca").
          Shifted: Marketing Site
        i.c-new-tab.ion.ion-android-open
      li
        a(target='_blank' href="https://lauratedesco.com").
          Laura Tedesco Jewellery Design
        i.c-new-tab.ion.ion-android-open
      li
        a(target='_blank' href="http://bruxhouse.com").
          Brux House Restaurant
        i.c-new-tab.ion.ion-android-open
      li
        a(target='_blank' href="https://www.msumcmaster.ca").
          McMaster Student Union
        i.c-new-tab.ion.ion-android-open
      li
        a(target='_blank' href="http://expressingvibrancy.ca").
          Expressing Vibrancy Research Project
        i.c-new-tab.ion.ion-android-open
    br
    
    p
      strong Social Media Group
      br
      em May 2008 to May 2009

    p In house web project development, programming and design.

  div.l-row
    h2 Education

    p 
      strong Design Management Diploma
      br
      em George Brown College, 2008
    p 
      strong Bachelor of Arts with Honours - Fine Art
      br
      em University of Guelph, 2005
    
  div.l-row
    h2 Interests
    
    p In the last year I was an organizer for the Embrace UX conference in Hamilton, I've mentored for Ladies Learning Code in Hamilton and I have volunteered for local political issues like public transit and various elections.
    
    p Currently most of my spare time is been spent with my family. I also enjoy 
      a(target='_blank' href='https://society6.com/eimaj').
        painting
      i.c-new-tab.ion.ion-android-open , 
      a(target='' href='/pixels.html').
        design, 
      span strumming guitars, gardening and sailing when I can find the time. 

    br
    
    img.c-img.c-img--bordered(src='./images/jammin.jpg')
