ul.c-icons
  li.c-icons__item
    a.c-icon.c-icon--linkedin(href='https://linkedin.com/eimaj', target='_', title='LinkedIn')
      i.ion.ion-social-linkedin
  li.c-icons__item
    a.c-icon.c-icon--github(href='https://github.com/eimaj', target='_', title='Github')
      i.ion.ion-social-github
  li.c-icons__item
    a.c-icon.c-icon--twitter(href='https://twitter.com/eimaj', target='_', title='Twitter')
      i.ion.ion-social-twitter
  li.c-icons__item
    a.c-icon.c-icon--instagram(href='https://instagram.com/eimaj', target='_', title='Instagram')
      i.ion.ion-social-instagram
  li.c-icons__item
    a.c-icon.c-icon--email(href='./jamie-allen_resume.pdf', target='_', title='Download Resume as PDF')
      i.ion.ion-android-download
