div.l-content.l-content--box
  h3 My name is Jamie Allen.
  
  h3 I'm a 
    a(href="/cv.html"). 
      Senior Software Developer 
    span.
      working my craft in Hamilton.
      
  h3 I also 
    //- a(target="_blank" href="http://glassbook.ca"). 
    //-   writing, 
    a(target="_blank" href="https://society6.com/eimaj"). 
      paint 
    span and 
    a(href='/pixel.html'). 
      design things.
  
  div.spacer 

  p I can sometimes be found online
    include ./_icons.jade

  div.spacer 
  
  p.c-foot Built using 
    a(target="_blank" href="http://brunch.io").
      Brunch
