div.l-content.l-content--box.l-content--wide
  h1 Sample work
  
  div.l-row
    p I'm a front-end developer with a keen eye for design and usability. I have a strong background working with Ruby on Rails and a keen interest in all the latest Javascript news.
  
  div.spacer
  
  div.l-row
    h3 Shifted: Marketing Site
    p 
      em Work done at
        a(target='_blank' href='http://factore.ca').
          Factor[e] Design Initiative.
    p A minimal marketing site with some subtle transitions and strong branding. This site was a lot of fun to build. It is completely responsive and accessible. Web design by 
      a(target='_blank' href='http://megthesmith.com').
        Meg Smith.
  div.l-row
    a(target='_blank' href='http://getshifted.ca')
      img.c-img.c-img--portfolio-lg(src='./images/shifted_lg.jpg')
      img.c-img.c-img--portfolio-sm(src='./images/shifted_sm.jpg')
  div.l-row
    p.h-center
      a.c-button(target='_blank' href='http://getshifted.ca'). 
        Visit the site

    
  div.spacer
  
  div.l-row
    h3 Laura Tedesco: Online Gallery
    p 
      em Work done at
        a(target='_blank' href='http://factore.ca').
          Factor[e] Design Initiative.
    p Laura was looking for an interactive gallery that allowed her clientelle to explore all of her past work and collections. The galleries and filters are built with React. Web design by 
      a(target='_blank' href='http://megthesmith.com').
        Meg Smith.
  div.l-row
    a(target='_blank' href='http://lauratedesco.com')
      img.c-img.c-img--portfolio-lg(src='./images/laura_lg.jpg')
      img.c-img.c-img--portfolio-sm(src='./images/laura_sm.jpg')
  div.l-row
    p.h-center
      a.c-button(target='_blank' href='http://lauratedesco.com'). 
        Visit the site
    
  div.spacer
  
  div.l-row
    h3 Brux House: Restaurant
    p 
      em Work done at
        a(target='_blank' href='http://factore.ca').
          Factor[e] Design Initiative.
    p Brux was looking for an online presence that showcased their menu. It was built mobile first and features a modern, minimal design. Web design by 
      a(target='_blank' href='http://megthesmith.com').
        Meg Smith.
  div.l-row
    a(target='_blank' href='http://bruxhouse.com')
      img.c-img.c-img--portfolio-lg(src='./images/brux_lg.jpg')
      img.c-img.c-img--portfolio-sm(src='./images/brux_sm.jpg')
  div.l-row
    p.h-center
      a.c-button(target='_blank' href='http://bruxhouse.com'). 
        Visit the site

  div.spacer.spacer--padded
  
  p Follow me online to find out more!
  br
  include ./_icons.jade
  br
  
