div.l-content.l-content--box
  h3 my name is jamie.
  h3 i build 
    a(target="_blank" href="http://factore.ca").
      web applications
  h3 i have a 
    a(target="_blank" href="http://glassbook.ca").
      blog
  h3 i can sometimes be found online
    include ./_icons.jade

  p.c-foot Built using 
    a(target="_blank" href="http://brunch.io").
      Brunch
