//* Default Text Styles *//
html,
body {
  @include sans-n3;
  @include font(20, 30);
  font-size: 20px; // required for rem
}

//* Links *//
a {
  text-decoration: none;
  color: $blue;

  &:hover {
    text-decoration: underline;
    color: darken($blue, 10%);
  }
}

//* Default typography *//
h1,
h2,
h3,
h4,
h5,
h6,
p {
  @include sans-n3;
  margin-top: 0;
}

h1 {
  @media (min-width: 480px) {
    @include font(28, 50, .6px);
  }

  @include font(24, 30, .6px);
  margin-botttom: $gutter;
}

h2 {
  @media (min-width: 480px) {
    @include font(22, 32, .6px);
  }

  @include font(18, 24, .6px);
  padding-bottom: 6px;
  margin: 0 0 $gutter;
  border-bottom: 2px solid $smoke;
}

h3 {
  @media (min-width: 480px) {
    @include font(20, 26);
  }

  @include font(16, 20, .6px);
  margin: 0 0 $gutter / 2;
}

// h4 {
// }

// h5 {
// }

// h6 {
// }

p,
li {
  @media (min-width: 480px) {
    @include font(16, 24, .6px);
  }

  @include font(14, 20, .6px);
  margin: 0 0 $gutter / 2;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0 ($gutter * 1.5);
  padding: 0;
}

blockquote {
  @include font-size(16);
  margin: 0 0 $gutter;
  border: 1px solid $grey;
  border-left: 2px solid $blue;
  background-color: $smoke;
  padding: $gutter;
  color: darken($grey, 30%);
  font-family: 'Consolas', 'Courier New';
  font-weight: 400;

  p {
    @include font-size(16);
    margin: 0;
    padding: 0;
    font-family: 'Consolas', 'Courier New';
  }
}

small {
  font-size: 80%;
}

strong {
  @include sans-n7;
}

em {
  @include sans-i3;
}

.bordered::after {
  border-bottom: 1px solid $blue;
}
